

#titlebar {
  -webkit-app-region: drag;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

#content {
  -webkit-app-region: no-drag;
  padding: 20px;
}

button {
  margin-top: 10px;
}

html, body, #root {
  margin: 0;
  padding: 0;
  background: transparent !important;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
